CompileFlags:
  BuiltinHeaders: QueryDriver
  Compiler: C:/Users/link/AppData/Local/mind+/Arduino/packages/mindplus/tools/gcc-arm-none-eabi/0.0.1/bin/arm-none-eabi-g++
  Add: [-xc++, -std=gnu++11]
  Remove: []
  CompilationDatabase: C:/Users/link/AppData/Local/mind+/cache/tmp_dev-DFRobot-microbitV2/build

Diagnostics:
  Suppress: "*"
