Diagnostics:
  Suppress: "*"

CompileFlags:
  BuiltinHeaders: QueryDriver
  Compiler: C:/Users/link/AppData/Local/mind+/Arduino/packages/mindplus/tools/gcc-arm-none-eabi/0.0.1/bin/arm-none-eabi-g++
  Add:
    [
      "-mcpu=cortex-m4",
      "-Wno-expansion-to-defined",
      "-mthumb",
      "-c",
      "-g",
      "-Os",
      "-w",
      "-mfpu=fpv4-sp-d16",
      "-mfloat-abi=softfp",
      "-fno-exceptions",
      "-fno-unwind-tables",
      "-ffunction-sections",
      "-fdata-sections",
      "-Wall",
      "-Wextra",
      "-Wno-unused-parameter",
      "-std=gnu++11",
      "-fwrapv",
      "-fno-rtti",
      "-fno-threadsafe-statics",
      "-fno-exceptions",
      "-fno-unwind-tables",
      "-Wl,--gc-sections",
      "-Wl,--sort-common",
      "-Wl,--sort-section=alignment",
      "-Wno-array-bounds",
      "-include",
      "C:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52/build/codal_extra_definitions.h",
      "-DNDEBUG",
      "-DAPP_TIMER_V2",
      "-DAPP_TIMER_V2_RTC1_ENABLED",
      "-DNRF_DFU_TRANSPORT_BLE=1",
      "-DSOFTDEVICE_PRESENT",
      "-DNRF52833_XXAA",
      "-DNRF52833",
      "-DTARGET_MCU_NRF52833",
      "-DNRF52833",
      "-D__CORTEX_M4",
      "-DS113",
      "-DTOOLCHAIN_GCC",
      "-DF_CPU=16000000",
      "-DARDUINO=10607",
      "-DARDUINO_microbitV2",
      "-DARDUINO_ARCH_NRF52",
      "-D__cplusplus=1",
      "-DNRF52833_XXAA",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52/build",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52/libraries",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52/libraries/codal-core/inc/core",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52/libraries/codal-core/inc/driver-models",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52/libraries/codal-core/inc/drivers",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52/libraries/codal-core/inc/streams",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52/libraries/codal-core/inc/types",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52/libraries/codal-core/inc/JACDAC",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52/libraries/codal-core/inc/JACDAC/control",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52/libraries/codal-core/inc/JACDAC/services",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52/libraries/codal-microbit-nrf5sdk/nRF5SDK/components/ble/ble_services/ble_dfu",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52/libraries/codal-microbit-nrf5sdk/nRF5SDK/components/ble/ble_services/ble_dis",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52/libraries/codal-microbit-nrf5sdk/nRF5SDK/components/ble/common",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52/libraries/codal-microbit-nrf5sdk/nRF5SDK/components/ble/nrf_ble_gatt",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52/libraries/codal-microbit-nrf5sdk/nRF5SDK/components/ble/peer_manager",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52/libraries/codal-microbit-nrf5sdk/nRF5SDK/components/libraries/atomic",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52/libraries/codal-microbit-nrf5sdk/nRF5SDK/components/libraries/atomic_fifo",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52/libraries/codal-microbit-nrf5sdk/nRF5SDK/components/libraries/atomic_flags",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52/libraries/codal-microbit-nrf5sdk/nRF5SDK/components/libraries/memobj",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52/libraries/codal-microbit-nrf5sdk/nRF5SDK/components/libraries/balloc",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52/libraries/codal-microbit-nrf5sdk/nRF5SDK/components/libraries/bootloader",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52/libraries/codal-microbit-nrf5sdk/nRF5SDK/components/libraries/bootloader/ble_dfu",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52/libraries/codal-microbit-nrf5sdk/nRF5SDK/components/libraries/bootloader/dfu",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52/libraries/codal-microbit-nrf5sdk/nRF5SDK/components/libraries/crc32",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52/libraries/codal-microbit-nrf5sdk/nRF5SDK/components/libraries/delay",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52/libraries/codal-microbit-nrf5sdk/nRF5SDK/components/libraries/experimental_section_vars",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52/libraries/codal-microbit-nrf5sdk/nRF5SDK/components/libraries/fds",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52/libraries/codal-microbit-nrf5sdk/nRF5SDK/components/libraries/fstorage",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52/libraries/codal-microbit-nrf5sdk/nRF5SDK/components/libraries/log",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52/libraries/codal-microbit-nrf5sdk/nRF5SDK/components/libraries/log/src",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52/libraries/codal-microbit-nrf5sdk/nRF5SDK/components/libraries/mutex",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52/libraries/codal-microbit-nrf5sdk/nRF5SDK/components/libraries/pwr_mgmt",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52/libraries/codal-microbit-nrf5sdk/nRF5SDK/components/libraries/ringbuf",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52/libraries/codal-microbit-nrf5sdk/nRF5SDK/components/libraries/sortlist",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52/libraries/codal-microbit-nrf5sdk/nRF5SDK/components/libraries/strerror",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52/libraries/codal-microbit-nrf5sdk/nRF5SDK/components/libraries/svc",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52/libraries/codal-microbit-nrf5sdk/nRF5SDK/components/libraries/timer",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52/libraries/codal-microbit-nrf5sdk/nRF5SDK/components/libraries/util",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52/libraries/codal-microbit-nrf5sdk/nRF5SDK/components/softdevice/common",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52/libraries/codal-microbit-nrf5sdk/nRF5SDK/components/softdevice/s113/headers",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52/libraries/codal-microbit-nrf5sdk/nRF5SDK/components/softdevice/s113/headers/nrf52",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52/libraries/codal-microbit-nrf5sdk/nRF5SDK/external/fprintf",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52/libraries/codal-microbit-nrf5sdk/nRF5SDK_mods",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52/libraries/codal-microbit-nrf5sdk/sdk_config",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52/libraries/codal-microbit-v2/inc",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52/libraries/codal-microbit-v2/inc/bluetooth",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52/libraries/codal-microbit-v2/inc/compat",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52/libraries/codal-microbit-v2/lib",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52/libraries/codal-microbit-v2/model",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52/libraries/codal-nrf52/inc",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52/libraries/codal-nrf52/inc/cmsis",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52/libraries/codal-nrf52/nrfx",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52/libraries/codal-nrf52/nrfx/doc/config_dox",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52/libraries/codal-nrf52/nrfx/drivers/include",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52/libraries/codal-nrf52/nrfx/drivers/src/prs",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52/libraries/codal-nrf52/nrfx/hal",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52/libraries/codal-nrf52/nrfx/helpers",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52/libraries/codal-nrf52/nrfx/mdk",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52/libraries/codal-nrf52/nrfx/soc",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52/libraries/codal-nrf52/nrfx/templates",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52/libraries/codal-nrf52/nrfx/templates/nRF52833",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52/utils/cmake/toolchains/ARM_GCC",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52/libraries/codal-nrf52/asm",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52/avr",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52",
      "-DUSE_LFRC",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\cores\\nRF52",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\packages\\mindplus\\hardware\\nRF52\\0.0.1\\variants\\BBCmicrobit",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\user\\libraries\\DFRobot_Microbit_Radio",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\user\\libraries\\DFRobot_Microbit_Matrix",
      "-IC:\\Users\\link\\AppData\\Local\\mind+\\Arduino\\user\\libraries\\DFRobot_Microbit_Sensors",
    ]
  Remove: []
